.contents {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.map {
  width: 80%;
  min-height: 720px;
  border: solid 2px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.town {
  border: solid 3px;
  border-radius: 7px;
  border-color: #2a98d8;
  display: flex;
  min-height: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}

.info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: red;
  color: white;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 50px;
  border-radius: 10px;
  border: none;
}

button:hover{
  background: #ff4848;
  cursor: pointer;
}

.result {
  width: 100%;
  margin-top: 40px;
  font-size: 1.75rem;
  word-wrap: break-word;
}
